WebHouseRental/HouseRentalWebApp/web/WEB-INF/wsdl/localhost_43556/HouseRentalService/HouseRentalWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://houserental.ubaya.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://houserental.ubaya.com/" name="HouseRentalWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://houserental.ubaya.com/" schemaLocation="http://localhost:43556/HouseRentalService/HouseRentalWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getTanggalSewaPerBulan">
<part name="parameters" element="tns:getTanggalSewaPerBulan"/>
</message>
<message name="getTanggalSewaPerBulanResponse">
<part name="parameters" element="tns:getTanggalSewaPerBulanResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getRumah">
<part name="parameters" element="tns:getRumah"/>
</message>
<message name="getRumahResponse">
<part name="parameters" element="tns:getRumahResponse"/>
</message>
<portType name="HouseRentalWebService">
<operation name="getTanggalSewaPerBulan">
<input wsam:Action="http://houserental.ubaya.com/HouseRentalWebService/getTanggalSewaPerBulanRequest" message="tns:getTanggalSewaPerBulan"/>
<output wsam:Action="http://houserental.ubaya.com/HouseRentalWebService/getTanggalSewaPerBulanResponse" message="tns:getTanggalSewaPerBulanResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://houserental.ubaya.com/HouseRentalWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://houserental.ubaya.com/HouseRentalWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getRumah">
<input wsam:Action="http://houserental.ubaya.com/HouseRentalWebService/getRumahRequest" message="tns:getRumah"/>
<output wsam:Action="http://houserental.ubaya.com/HouseRentalWebService/getRumahResponse" message="tns:getRumahResponse"/>
</operation>
</portType>
<binding name="HouseRentalWebServicePortBinding" type="tns:HouseRentalWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getTanggalSewaPerBulan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRumah">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HouseRentalWebService">
<port name="HouseRentalWebServicePort" binding="tns:HouseRentalWebServicePortBinding">
<soap:address location="http://localhost:43556/HouseRentalService/HouseRentalWebService"/>
</port>
</service>
</definitions>